@media screen and (min-width: 801px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Open Sans', sans-serif;
        margin: 0%;
    }

header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 1.7vw;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
}
#museum {
    font-weight: 600;
    color: #c9523d;
}
nav {
    font-size: 1vw;
    font-style: normal;
    word-spacing: 0.75em;
    padding-left: 62%;
}
#left_head {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1vw;
    font-style: normal;
    color: #2a2d7c;
    font-weight: 300;
    
}

#time{
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size: 5vw;
    margin: auto;
    top: 50%;
    left: 50%;
}
.black_space{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 400px;
}
.titleblock{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100px;
}
#title{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 3vw;
    margin: auto;
    top: 50%;
    left: 50%;
}
.dateblock{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100px;
}
#date{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 2vw;
    margin: auto;
    top: 50%;
    left: 50%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: 'Open Sans', sans-serif;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.paragraph{
    background-color: white;
    position: relative;
    margin: auto;
}

#content{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.5vw;
    margin: auto;
    padding-top: 1%;
}
#guest{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.5vw;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 2%;
}

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: black;
    background-color: #c6d2da;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
}
#left_footer {
    display: flex;
    flex-direction: column;
    line-height: 150%;
}

#middle_footer {
    display: flex;
    flex-direction: column;
    line-height: 150%;
    margin-left: 8%;
}

#right_footer {
    display: flex;
    flex-direction: column;
    line-height: 150%;
    margin-left: 8%;
}

#bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    color: black;
    font-weight: 600;
    padding-bottom: 5%;
}
#bold1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    color: black;
    font-weight: 600;
    padding-bottom: 5%;
}
#bold2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    color: black;
    font-weight: 600;
    padding-bottom: 5%;
}
#foot{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: black;
}
#foot1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: black;
}
#foot2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: black;
}
main {
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 3%;
}

}

@media screen and (min-width: 481px) and (max-width: 800px){
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Open Sans', sans-serif;
        margin: 0%;
    }
    header {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: row;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 0.5%;
        padding-right: 3%;
        align-items: flex-end;
        justify-content: space-around;
    }
    #museum {
        font-weight: 600;
        color: #c9523d;
    }
    nav {
        font-size: 1.5vw;
        font-style: normal;
        word-spacing: 0.5em;
        padding-left: 40%;
    }
    #left_head {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 1.5vw;
        font-style: normal;
        color: #2a2d7c;
        font-weight: 300;
    }
    #time{
        font-family: 'Open Sans', sans-serif;
        color:white;
        font-size: 10vw;
        margin: auto;
        top: 50%;
        left: 50%;
    }
    .black_space{
        display: flex;
        justify-content: center;
        background-color: black;
        height: 200px;
    }
    .titleblock{
        display: flex;
        justify-content: center;
        background-color: white;
        height: 100px;
        
    }
    #title{
        font-family: 'Open Sans', sans-serif;
        color: black;
        font-size: 5vw;
        margin: auto;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 1%;
        padding-left: 1%;
    }
    .dateblock{
        display: flex;
        justify-content: center;
        background-color: white;
        height: 100px;
       
    }
    #date{
        font-family: 'Open Sans', sans-serif;
        color: black;
        font-size: 3.5vw;
        margin: auto;
        text-align: center;
        
    }
    
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: 'Open Sans', sans-serif;
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
    
.paragraph{
    background-color: white;
    position: relative;
    margin: auto;
}

#content{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 2.3vw;
    margin: auto;
    padding-top: 1%;
}
#guest{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 2.3vw;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 2%;
}
footer {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: black;
    background-color: #c6d2da;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
}
#left_footer {
    display: flex;
    flex-direction: column;
    line-height: 100%;
}

#middle_footer {
    display: flex;
    flex-direction: column;
    line-height: 150%;
    margin-left: 8%;
}

#right_footer {
    display: flex;
    flex-direction: column;
    line-height: 150%;
    margin-left: 8%;
}

#bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: black;
    font-weight: 600;
    padding-bottom: 5%;
}
#bold1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: black;
    font-weight: 600;
    padding-bottom: 5%;
}
#bold2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: black;
    font-weight: 600;
    padding-bottom: 5%;
}
#foot{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: black;
}
#foot1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: black;
}
#foot2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: black;
}
main {
    display: flex;
    flex-direction: column;
    padding-left: 9.5%;
    padding-right: 9.5%;
    padding-bottom: 3%;
}
}

@media screen and (max-width: 480px){
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: 'Open Sans', sans-serif;
        margin: 0%;
    }
    header {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        padding-top: 1%;
        padding-bottom: 2%;
        align-items: center;
    }
    #museum {
        font-weight: 600;
        color: #c9523d;
    }
    nav {
        font-size: 4vw;
        font-style: normal;
        word-spacing: 5em;
        padding-top: 3%;
        padding-bottom: 2%;
        align-items: center;
    }
    #left_head {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 3vw;
        font-style: normal;
        color: #2a2d7c;
        font-weight: 300;
    }
    #time{
        font-family: 'Open Sans', sans-serif;
        color:white;
        font-size: 14vw;
        margin: auto;
        top: 50%;
        left: 50%;
    }
    .black_space{
        display: flex;
        justify-content: center;
        background-color: black;
        height: 120px;
    }
    .titleblock{
        display: flex;
        justify-content: center;
        background-color: white;
        height: 70px;
        
    }
    #title{
        font-family: 'Open Sans', sans-serif;
        color: black;
        font-size: 6vw;
        margin: auto;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 2%;
        padding-left: 2%;
    }
    .dateblock{
        display: flex;
        justify-content: center;
        background-color: white;
        height: 50px;
       
    }
    #date{
        font-family: 'Open Sans', sans-serif;
        color: black;
        font-size: 4vw;
        margin: auto;
        text-align: center;
        
    }
    
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: 'Open Sans', sans-serif;
  color: #f2f2f2;
  font-size: 13px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
    
.paragraph{
    background-color: white;
    position: relative;
    margin: auto;
}

#content{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 4vw;
    margin: auto;
    padding-top: 3%;
}
#guest{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 4vw;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
footer {
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 0;
    
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    color: black;
    background-color: #c6d2da;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
    line-height: 175%;
}

#bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw;
    color: black;
    font-weight: 600;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
}
#bold1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw;
    color: black;
    font-weight: 600;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
}
#bold2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw;
    color: black;
    font-weight: 600;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
}
#foot{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
}
#foot1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
}
#foot2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 3%;
}
main {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 3%;
}
}